In [1]:
import spacy
import pdfminer
import re
import os
import pdf2txt
import pandas as pd

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
def convert_pdf(file):
    output_file = os.path.basename(os.path.splitext(file)[0]) + ".txt"
    outputfile_path = os.path.join('output/txt/',output_file)
    pdf2txt.main(args=[file, '--outfile',outputfile_path])
    print(outputfile_path+"saved successfully")
    return outputfile_path
    #open(outputfile_path,'r')

In [12]:
result_dict = {"name" : [] ,"phone" : [] , "email" : [] , "skills" : [] }
names=[]
phones=[]
emails= []
skills= []

In [13]:
def convert_dataframe():
    resumedf = pd.DataFrame({"name" :names,"phone": phones,"email id":emails,"skills":skills})
    return resumedf

In [14]:
def parse_content(text):
    skillset = re.compile('python|java|sql|hadoop|tableau')
    phonenum = re.compile(r"\+\d{12}|\d{10}")
    resume=nlp(text)
    try:
        name = [entity.text for entity in resume.ents if entity.label_ == "PERSON"][0]
    except:
        name = [entity.text for entity in resume if (entity.pos_ == "PROPN" or entity.pos_ == "NOUN")][:2]
        name = " ".join(name)
    email = [word for word in resume if word.like_email == True][0]
    phone=str(re.findall(phonenum , text.lower()))
    skills_list = re.findall(skillset,text.lower())
    unique_skill_list = str(set(skills_list))
    names.append(name)
    phones.append(phone)
    emails.append(email)
    skills.append(unique_skill_list)

In [15]:
for file in os.listdir('sample/'):
    if file.endswith(".pdf"):
        txt=convert_pdf(os.path.join("sample/",file))
        f = open(txt,encoding='utf8').read()
        parse_content(f)
df= convert_dataframe()
df.to_csv("output/csv/resume.csv",index=False)

output/txt/CV.txtsaved successfully
output/txt/Harsh's Resume (1).txtsaved successfully
output/txt/Harsh's Resume (2).txtsaved successfully
output/txt/Harsh's Resume.txtsaved successfully
output/txt/harsh.txtsaved successfully

In [16]:
df

,name,phone,email id,skills
0,Yatharth Agarwal,[],yatharth2001.agr@gmail.com,{'python'}
1,grewal self,['7290800101'],harshgrewal2700@gmail.com,"{'java', 'python', 'sql'}"
2,grewal self,['7290800101'],harshgrewal2700@gmail.com,"{'java', 'python', 'sql'}"
3,grewal self,['7290800101'],harshgrewal2700@gmail.com,"{'java', 'python', 'sql'}"
4,grewal self,['7290800101'],harshgrewal2700@gmail.com,"{'java', 'python', 'sql'}"